[2020-09-16 13:38] VickiLanger opened #1 "Reference Stuffs"
- https://help.twitter.com/en/rules-and-policies/twitter-automation
- http://docs.tweepy.org/en/latest/
- https://realpython.com/twitter-bot-python-tweepy/

[2020-09-16 13:40] VickiLanger opened #2 "Add generating images for posts"
Add images that generate when posting. I think it's something to do with open graph. **Must have alt text**

Both dev.to and webwide have this.

Maybe this is the wizardry behind it? https://lannonbr.com/blog/2019-11-10-og-images/

Images are in `img_bg` folder.
![](https://pbs.twimg.com/media/EitBKMpXYAINwXh?format=jpg&name=medium)

Thanks for contributing!
---
*Don't forget to follow the bot on

[2020-09-16 13:50] VickiLanger opened #3 "Add More Nouns!"
_This will be a running issue to let people know how to add nouns to `words_dir/tweet_nouns.py`_

---
In the `tweet_nouns.py` file, there are some nouns separated by comments to have different categories.

All nouns should be singular and lower case (unless a proper noun). (eg `boot`, not `boots`)

---

Nouns must make sense after "{adjective} {label}" (example: tiny queer [something])

Within cat

[2020-09-16 13:52] VickiLanger opened #4 "Add More Adjectives!"
_This will be a running issue to let people know how to add adjectives to `words_dir/tweet_adjectives.py`_

---
In the `words_dir/tweet_adjectives.py` file, there are some adjectives separated by comments to have different categories.

---

Within categories, please keep in alphabetical order and all lowercase.

All adjectives added should look like the below
[code]

If you're adding a new categor

[2020-09-16 13:57] VickiLanger opened #5 "Add more Queer Historical Events!"
_This will be a running issue to let people know how to add events to `words_dir/tweet_historical_events.py`_

---

All events added should look like the below
[code]
When adding events, please place them in order, oldest to newest

Events from all around the world are welcome. If the event is specific to a country, please include the country in the narrative.

These links may help:
- [https://en.

[2020-09-21 14:18] VickiLanger opened #6 "Decide between a & an for proper grammar"
`get_tweet.py`

**Is your feature request related to a problem? Please describe.**
Currently, the f'string isn't accounting for the proper use of `a` and `an`.
![Screenshot from @LGBTQotd twitter  "today's queerness is a slimy panromantic snek Snake", "today's queerness is a animated two-spirit pipe made out of an apple", "today's queerness is a obsolete demiromantic floppy disc"](https://user-ima

[2020-09-21 20:46] gdev12 commented on #3
Hello, I'm participating in Hacktoberfest and would like to work on this.

[2020-09-21 20:49] gdev12 commented on #5
Hello, I'm participating in Hacktoberfest and would like to work on this.

[2020-09-23 03:07] VickiLanger commented on #5
Go for it. Though the tweets don't currently work and I'm kinda unsure why. Adding events will still be helpful for when the tweets do work.

Also, make sure to follow on www.twitter.com/LGBTQotd so you can see your work

[2020-09-23 03:10] VickiLanger opened #7 "Stop the repeating words!"
**Is your feature request related to a problem? Please describe.**
Some nouns, adjectives, labels are being asked repeatedly

**Describe the solution you'd like**
I'd like the nouns, adjectives, labels to not be repeated so often

here's a similar solution with less moving parts than this repo https://github.com/VickiLanger/code-questions-bot/pull/24

**Describe alternatives you've considered**

r

[2020-09-23 15:10] gdev12 commented on #5
Alrighty! Thanks!

[2020-09-23 22:55] VickiLanger commented on #5
@gdev12 Let me know if you need any help. Also, may I ask, how did you find this project?

[2020-09-24 11:59] kandasamyc commented on #6
Can I work on this?

[2020-09-24 15:11] hot9cups commented on #6
I'd like to work on this!

[2020-09-24 15:13] VickiLanger commented on #6
As we discussed yesterday, @hot9cups would like to work this issue. @SamC302, if for some reason @hot9cups needs help or doesn't do it, it's all yours.

[2020-09-24 15:23] gdev12 commented on #5
@VickiLanger  I filtered projects in python by the Hacktoberfest label and found this :)

[2020-09-24 21:05] Apoorve73 commented on #7
I would like to work on this.

[2020-09-26 13:40] rexdivakar commented on #3
Hey @VickiLanger  can u assign me i will raise a PR after Oct 1st !!

[2020-09-26 17:44] VickiLanger commented on #7
@Apoorve73 Sounds great! Have fun. I'm happy to help and answer questions if need be.

[2020-09-26 17:47] Apoorve73 commented on #7
Yes! Thanks a lot ! :)

[2020-09-26 17:52] VickiLanger commented on #3
@rexdivakar Sounds great. I look forward to seeing what you add.

[2020-09-27 19:57] iriyagupta commented on #2
Hi ! Can you explain this a bit? @VickiLanger

[2020-09-28 03:09] VickiLanger commented on #2
Absolutely, @iriyagupta.  Right now, `tweet.py` sends a string `f"today's queerness is a {adjective} {label} {noun}"` to Twitter. I'd like for this string to show up on a random image from the `img_bg` folder.

I have no clue how to generate the image and I've put very little thought into how it could be done.

Ways I've thought about doing it:

1. This [twitter bot](https://twitter.com/colorschem

[2020-09-28 16:18] iriyagupta commented on #2
@VickiLanger So is it like if the image with a text is already available let us say the text is "Today's queerness is a purring biromantic walkman" it should also generate the image 98 which is containing the same text or if the text is not available on the image from the img_bg folder, you want any random image with no text on it to appear and display the string sent by tweet.py?

[2020-09-28 20:18] VickiLanger commented on #2
@iriyagupta The images in the folder are all blank. I'd like it to grab a random image and show the string on the image

[2020-09-28 21:41] iriyagupta commented on #2
@VickiLanger Oh okay, understandable. I will give it a try

[2020-09-29 12:04] iriyagupta commented on #2
@VickiLanger do we have a registered consumer key for the application? Or shall I create my own

[2020-09-29 17:49] VickiLanger commented on #2
@iriyagupta I have keys. I'm not sure how to share them without sharing them publically. I think you should be able to use `authenticate_api` from `tweet.py` https://github.com/VickiLanger/Queer-of-the-day-bot/blob/production/tweet.py.

[2020-09-30 19:02] #6 closed, assigned to hot9cups

[2020-10-01 09:15] iriyagupta commented on #2
@VickiLanger Without keys authenticate_api doesn't seem to work, is there anywhere we can share them?

[2020-10-01 19:30] VickiLanger commented on #2
You're right. It won't work locally without the keys. Sharing keys poses a security risk. It would be best to get keys of your own, if need be. I got my keys through https://developer.twitter.com/en/apps

reference: https://twitter.com/grahamcox82/status/1311742466429722626?s=20

[2020-10-02 18:48] iriyagupta commented on #2
@VickiLanger So I have applied for twitter developer account but it will take some time to get accepted, before that I won't be able to run this due to the lack of auth key

[2020-10-04 01:24] VickiLanger commented on #2
Sounds great. I understand

[2020-10-04 02:42] VickiLanger opened #12 "Add more LGBTQ labels and/or definitions"
_This will be a running issue to let people know how to add nouns to `words_dir/tweet_labels.py`_

---
In the `tweet_labels.py` file, there are some labels & definitions separated by comments to have different categories.

Here's a good source to work from: https://lgbta.wikia.org/wiki/LGBTA_Wiki

---
Important: Gatekeeping terms (eg `gold star lesbian`, `gold star gay`) will not be merged or acce

[2020-10-04 06:45] Hinal-Srivastava commented on #12
I'd like to do this!👍

[2020-10-04 09:54] HOD101s commented on #3
Hey @VickiLanger ! I've made a PR for this issue.
#20

[2020-10-04 16:39] Raspy94 commented on #5
I think I have a solution for your twitting issue on the historical events, I have created a pull request, let me know if it works :) @VickiLanger

[2020-10-04 18:07] VickiLanger commented on #12
@Hinal-Srivastava You're welcome to contribute. I look forward to seeing your PR

[2020-10-04 18:58] grumhub commented on #12
Awesome idea , happy to help.

[2020-10-04 20:23] VickiLanger commented on #12
@grumhub You're welcome to help. I look forward to seeing your PR

[2020-10-05 00:56] bobsany16 commented on #5
@VickiLanger I made a PR and while I was adding more events, I found some syntax errors so I addressed them in my PR. Let me know if I need to change anything. #36

[2020-10-05 01:10] bobsany16 opened #38 "tweet_historical_event() in tweet_historical_events.py needs some tweaks to be functional"
**Describe the bug**
Right now, the `tweet_historical_event()` function in `tweet_historical_events.py` only generates the tweet when the `today`'s date (YYYY-MM-DD) matches exactly that in the `events` list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `tweet_historical_events.py`
2. Scroll down to 'tweet_historical_event()' on line 46
4. See error -> can be followed along by just

[2020-10-05 02:36] bobsany16 commented on #38
I'm working on this, just waiting for current PRs to merge before submitting a PR for this. This is so exciting 😁👌🤯

[2020-10-05 12:05] tahazanzibarwala commented on #2
@VickiLanger are you facing an issue posting an image to Twitter or generating the image with the text itself?

[2020-10-05 13:13] franciellyferreira opened #44 "Organize historical events by country"
**Is your feature request related to a problem? Please describe.**
The history of LGBTQ+ rights in the world happened differently in different countries. I would like to propose
organization of historical events by countries, a way to show the chronological differences in the achievements in rights in different countries.

**Describe the solution you'd like**
I would like to standardize historical

[2020-10-05 13:16] franciellyferreira commented on #44
@VickiLanger Can I make this change?

[2020-10-05 13:18] franciellyferreira commented on #44
I'm working on this improvement. 👍🏻

[2020-10-05 14:15] lusmoura commented on #5
Hello! I found this bot on twitter and saw the repo is part of Hacktoberfest, and I'd like to know if I can contribute to this issue =D Thanks.

[2020-10-05 14:49] VickiLanger commented on #38
I'm going through and merging everything now.

[2020-10-05 15:10] VickiLanger commented on #5
@lusmoura I'd love to have you add to it.

[2020-10-05 15:11] VickiLanger commented on #2
@tahazanzibarwala Generating the image itself

[2020-10-05 15:18] bobsany16 commented on #38
Thanks for getting back to me! I saw that somebody else has submitted a PR for this #42 . The only difference between my solution (no PR yet) is that when there are multiple events on the same date, it would generate it randomly. Would you still want me to submit a PR for you to see ? @VickiLanger

[2020-10-05 15:27] VickiLanger commented on #38
I left that one for last because I didn't want to ignore that you were working on it. I like the idea of having it randomly choose if there are multiple events. That makes sense.
@bobsany16

[2020-10-05 15:28] bobsany16 commented on #38
ah thank you! I'll have a PR up soon :) @VickiLanger

[2020-10-05 15:33] VickiLanger commented on #38
It's new to me to have multiple PRs for the same issue. Should I merge their PR or just take your's when you submit it?

[2020-10-05 15:37] bobsany16 commented on #38
I'm sorry if it's somewhat overwhelming! Well, I think you should merge their changes (they should resolve the conflict before you merge) just so their contribution doesn't get wasted. Then I'll just update my local repo and put in my changes then make a PR.

[2020-10-05 15:46] meghanagottapu commented on #44
can I work on this issue? @VickiLanger

[2020-10-05 15:47] VickiLanger commented on #38
You're not overwhelming. It's just new to me.

I actually just closed their PR. You had already created the issue. Their contribution was after you'd identified the issue and said you'd work it.

[2020-10-05 15:48] VickiLanger commented on #44
@meghanagottapu

@franciellyferreira is working this issue.

[2020-10-05 16:00] bobsany16 commented on #38
It's new to me as well so I know how you feel! You're doing great. Please please let me know if I can be of any extra help! I'm glad to contribute and stuffs 👌. PR is up.

[2020-10-05 17:45] gdev12 commented on #5
@VickiLanger I created a pull request and added more historical events :)

[2020-10-05 21:09] sanjibansg commented on #7
I would like to work on this issue. Do assign if available.. @VickiLanger

[2020-10-06 01:36] VickiLanger commented on #7
@Apoorve73 Are you still wanting to work on this? If so, let me know. If not, I'll hand it over to @kahanikaar.

[2020-10-06 01:48] VickiLanger opened #54 "Add historical events for when things were legalized/decriminalized"
I would love to see an event for each US state like the below:

`'2009-04-03': 'Same-sex marriage is legal in the state of Iowa. https://en.wikipedia.org/wiki/Same-sex_marriage_in_Iowa',`

In addition, it would be great to have events like that for all the countries that have made things legal.

---

All events added should look like the below
[code]

### Proposed workflow:
1. Fork this repo
2. Ad

[2020-10-06 01:53] #38 closed, assigned to bobsany16

[2020-10-06 02:57] yogmel commented on #54
Hi @VickiLanger !
I would like to contribute if possible :)

[2020-10-06 03:19] VickiLanger commented on #54
@yogmel You're welcome to contribute

[2020-10-06 03:26] Apoorve73 commented on #7
Yes! But I am having some trouble continuing that! Really sorry for that! You may handover that to @kahanikaar ! :)

[2020-10-06 04:13] RidhimaKohli commented on #3
Can I add more nouns ?

[2020-10-06 04:21] VickiLanger commented on #7
Thanks for letting me know @Apoorve7.

@kahanikaar, in the morning, when I get back to my computer I will assign you

[2020-10-06 04:34] midhun1998 commented on #54
Hi @VickiLanger. I would also like to contribute. Can I add an event for country India?

[2020-10-06 04:40] rexdivakar commented on #3
Hey @VickiLanger  may i know the usage of this nouns file ?? If u are looking to add in more may be we can create a database or a json file for easy parsing !! please share ur ideas and ur view ?

[2020-10-06 12:42] varanasiroshan2001 opened #66 "i am not able to understand what to do to do a successful pr in this repo mam"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-06 13:04] bobsany16 opened #68 "tweet_nouns.py has a syntax error that might jeopardize the app"
**Describe the bug**
- Missing comma

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tweet_nouns.py
2. See lines:

- `62`: comma inside string

Note:
---
I won't make a PR because there's only one syntax error. Someone who has a PR up should fix the comma :)

---
*Don't forget to follow the bot on [Twitter](https://www.twitter.com/LGBTQotd) to see the hard work you put in.*

[2020-10-06 15:49] VickiLanger commented on #3
@rexdivakar thanks for the ideas. I've thought about creating a SQLite db for it, but I'm not sure how that would work with open source contributing. I haven't done it before so I'm not sure if it would still work the way it does currently.

Currently, `tweet_nouns.py` is just a python list that is pulled by `get_tweet.py`

[2020-10-06 15:50] VickiLanger commented on #54
@midhun1998 Yes, absolutely. Please do.

[2020-10-06 15:55] rexdivakar commented on #3
If u wish I can work on it ?? @VickiLanger

[2020-10-06 16:22] VickiLanger commented on #66
If you would like to contribute, please review the [readme](https://github.com/VickiLanger/Queer-of-the-day-bot/blob/production/README.md) which has a section about contributing and then take a look at the issues.

[2020-10-06 16:22] #66 closed, assigned to nobody

[2020-10-06 16:25] VickiLanger commented on #68
Thanks for bringing that up. I fixed `'seal',` and several others. One had `.` instead of a comma and some others didn't have their commas.

[2020-10-06 16:25] #68 closed, assigned to nobody

[2020-10-06 17:20] ikerdna commented on #5
Hello, im  new in this world of code and I will love to work on this project 🤭,  it will be mi first project🥰.

[2020-10-06 19:03] VickiLanger commented on #5
@ikerdna I'm so excited you're going to make your first contribution. You're more than welcome to contribute here.

Take a look at the [readme](https://github.com/VickiLanger/Queer-of-the-day-bot/blob/production/README.md) to get started. Once you've made it to the end of the `contributing` section, that should be enough. (legit just 5 lines to read in the readme) Then check out issues #3, #4, or

[2020-10-06 22:55] VickiLanger commented on #3
I kinda like it the way it is, for now. @rexdivakar

[2020-10-07 01:33] AhmedOssama22dev commented on #2
Hey @VickiLanger , i wrote some utility functions that may help and with very few **customizations** you can change the font:style,color,size and the positions.
The methods do the following:1]Choose a random image from img_bg folder
2]Write text on the image in the blank area. [text are classified into -short ,-long]
3]The image object is returned for any operations also its name for saving it loc

[2020-10-07 01:46] franciellyferreira commented on #44
@VickiLanger I made the change by country, but I need you to pause the 'merge' of code submissions to 'historical_events', as we run the risk of missing events. I go send a Pull request.

[2020-10-07 02:20] franciellyferreira commented on #3
@VickiLanger you can't help me? Add tag `hacktoberfest-accepted` on PRs for accepted on Hacktoberfest?

![image](https://user-images.githubusercontent.com/15323603/95280034-6de05880-082a-11eb-819c-88aa4b243d9b.png)

[2020-10-07 14:56] bobsany16 opened #82 "Generate a thread of historical events when there are multiple events per date"
**Is your feature request related to a problem? Please describe.**
Right now, the bot will tweet a random historical event that match a date

**Describe the solution you'd like**
It would be cool to see that the bot will also generate a thread of these multiple events in chronological order to see how things progresses/setbacks. => insightful.

**Additional context**
Researching on how to implemen

[2020-10-07 15:00] bobsany16 opened #84 "Add a pre-commit hook to check for syntax errors"
**Is your feature request related to a problem? Please describe.**
Lots of times, entries to data files contain syntax errors like commas, periods, etc.,

**Describe the solution you'd like**
Have an automated pre-commit hook that will check for these errors. If there are, the hook won't allow a push => prompts contributors to check their changes.
This -> makes things easier for maintainer/organiz

[2020-10-07 16:36] VickiLanger commented on #82
I like this idea. I've done replies to tweets before with the files below.

https://github.com/VickiLanger/code-questions-bot/blob/production/get_reply.py
https://github.com/VickiLanger/code-questions-bot/blob/production/tweet.py
`api.update_status(status=reply_with, in_reply_to_status_id=tweet.id, auto_populate_reply_metadata=True)`

[2020-10-07 16:37] VickiLanger commented on #84
Oh! I had no clue that was something that could be done.

[2020-10-07 17:10] bobsany16 commented on #84
Yup! I've seen a couple projects implement multiple sorts of pre-commit hooks but unfortunately, I have 0 experience with this. Would be a blast to work on though 😅. Unless someone can chime in for this, I'll attempt.

[2020-10-07 18:50] bobsany16 commented on #84
I found this, I might try [this](https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/), if that's cool with you

[2020-10-07 21:32] VickiLanger commented on #84
Neat. I thought it was going to be some [github actions](https://github.com/VickiLanger/Queer-of-the-day-bot/actions/new) type of thing. You're welcome to try it.

[2020-10-08 15:45] VickiLanger opened #90 "Incorporate generated images with tweet.py to actually tweet the images"
Issue #2 discussed generating images from text with the images in `img_bg`. Now that the images are generated with `generateImagePost.py`, they need to be able to be tweeted with `tweet.py`

https://iq.opengenus.org/post-image-twitter-api/

[2020-10-08 15:47] #2 closed, assigned to nobody

[2020-10-08 15:57] VickiLanger opened #91 "Add a reply tweet defining the label using in the initial tweet"
**Describe the solution you'd like**

- Adjust `get_reply.py` to have definitions for each label OR have definitions in `tweet_labels.py`
- add definition for each label

**Additional context**
reply code in `tweet.py` needs to uncommented and adjusted as necessary

[code]

---
*Don't forget to follow the bot on [Twitter](https://www.twitter.com/LGBTQotd) to see the hard work you put in.*

[2020-10-08 15:59] #1 closed, assigned to nobody

[2020-10-08 17:44] JasirZaeem commented on #91
I would like to have a go at this issue. I'll change the labels list into a dictionary, where the labels are the keys and their corresponding values are their definitions, then update get_reply to retrieve and reply with the definition of the label used in the original tweet.

[2020-10-08 23:00] dylan-nogueras commented on #54
Hi, @VickiLanger! I would like to add some events from Spain. Is that okay?

[2020-10-09 01:55] Ares358 commented on #90
Is there any difference between the images named "{no}" and images named "{no}+a" ?
Why don't they all have the same naming syntax?

[2020-10-09 18:05] VickiLanger commented on #54
Yes, please do. I would love to see events from all over the world. Have fun, @aure-nogueras

[2020-10-09 18:06] VickiLanger commented on #90
@Ares358 There is no difference. I took the easiest way I could think of when renaming them all at once. I should've named them all the same

[2020-10-09 18:19] VickiLanger commented on #91
Sounds great. I look forward to seeing your PR. @JasirZaeem

[2020-10-09 21:42] VickiLanger opened #98 "Tweeted Images need Alt Text"
**Describe the bug**
Images being tweeted do not have alt text. Alt text is imperative for making tweets accessible to everyone.

[Reference on why alt text is so important](https://moz.com/learn/seo/alt-text)

**Additional context**
Resources that may be helpful:
- https://iq.opengenus.org/post-image-twitter-api/
- http://docs.tweepy.org/en/latest/api.html#API.create_media_metadata

---
*Don't fo

[2020-10-10 20:19] #98 closed, assigned to nobody

[2020-10-11 01:51] VickiLanger commented on #84
If you haven't put too much work into the hooks. I think this [python linter bot](https://github.com/marketplace/actions/python-linter) may do what we need

[2020-10-11 01:57] bobsany16 commented on #84
oh awesome! I was just still doing some researches on the hooks but unfortunately wasn't doing too good 😅 and the python linter bot does make things easier. I assume it will check for errors and then if it doesn't pass, we could request changes in the PR, right ? If so, I think this is more feasible. Thanks for letting me know!

[2020-10-11 02:47] VickiLanger commented on #84
Um, I didn't look too hard yet. Just ran across it looking for something else

[2020-10-11 03:35] bobsany16 commented on #84
alright, I'll take a look and let you know!

[2020-10-11 06:14] JasirZaeem commented on #90
I think this issue was resolved after PR #100 and can be closed now.

[2020-10-11 19:43] bobsany16 commented on #84
Do you mind sharing the repo that uses this ? I just wanted to see their .yml file configurations.

[2020-10-13 20:44] SanGeeky commented on #3
Hi !  i want to work in your project, can i add my info in the _readme.md_ file ?

And in the future i want to develop a spanish version of your bot or maybe a bot for instagram 🤭

[2020-10-14 00:34] VickiLanger commented on #3
@SanGeeky that sounds awesome! I've never even thought about Instagram bots. You're welcome to add to the bot and add your name when you do. I'm excited to see what you come up with

[2020-10-14 00:37] VickiLanger commented on #90
@JasirZaeem The PR definitely addressed the issue. It's throwing an error though and I haven't had a chance to check it out.

[code]

[2020-10-14 00:38] VickiLanger commented on #84
I found it in the GitHub actions page. I don't know of anyone specific who uses it. Though I'm sure many do use it

[2020-10-14 00:43] Ares358 commented on #90
Installing Python Image Library via the command `pip install Pillow` should solve it.

[2020-10-14 04:40] JasirZaeem commented on #90
PIL(pillow) is being used to write the tweets on images, the error says it's missing on the machine you tried running the bot on.
Using `pip install Pillow` like @Ares358 suggested to install it should solve the issue.

[2020-10-14 15:41] VickiLanger commented on #90
I update `pil` locally, but I don't run the bot from my computer. I run the bot using Heroku...
Nevermind, I figured out how to add it with the console in Heroku. I'll leave the issue open until I see it work
![Screenshot of heroku console "2020-10-14T15:01:36.733155+00:00 app[scheduler.2109]: Traceback (most recent call last):
2020-10-14T15:01:36.733211+00:00 app[scheduler.2109]:   File "tweet.py

[2020-10-14 15:47] #91 closed, assigned to JasirZaeem

[2020-10-14 19:12] VickiLanger commented on #90
Okay, so, it still didn't work. that clearly wasn't the way to do it. I think I just need to update `requirements.txt`

[2020-10-14 23:33] JasirZaeem commented on #90
Yes that might be the way to do it, https://devcenter.heroku.com/articles/python-pip this says so at least. I have only used Linux vpses for experimenting with things so don't have any experience with Heroku.

[2020-10-15 00:09] VickiLanger commented on #90
It was happy with my fix and now it's not happy again.
[code]

[2020-10-15 14:29] JasirZaeem commented on #90
I think the problem might be missing fonts, at this line https://github.com/JasirZaeem/LGBTQ-of-the-day-bot/blob/60288208a79fbc2280d9f3317136731f6ae945f1/get_img_for_tweet.py#L82 and the one after, arial.ttf is used, on windows where I and the contributor who originally added the code used it, this would work, but this probably fails on heroku.

You'll have to upload arial.ttf, or some other font

[2020-10-15 17:48] VickiLanger commented on #90
Thank you so much @JasirZaeem. I had no clue you could link to a specific line. Neat.

- [x] add font files https://github.com/VickiLanger/LGBTQ-of-the-day-bot/tree/production/assets
- [x] adjust path on lines 82 and 83

[2020-10-16 14:19] VickiLanger commented on #90
Well, it still doesn't like it.
[code]

[code]

Gonna try using `PIL.ImageFont.load_default()` to see if that temporarily fixes it [(reference)](https://pillow.readthedocs.io/en/3.0.x/reference/ImageFont.html#PIL.ImageFont.load_default) [(another reference)](https://stackoverflow.com/questions/47694421/pil-issue-oserror-cannot-open-resource).

[2020-10-16 17:04] VickiLanger commented on #90
Okay, Images work. I'm gonna open a new issue for the font and work on that. Thank you both so much for your work and helping me figure out the errors.

https://twitter.com/LgbtQotd/status/1317118324124299264?s=20

[2020-10-16 17:04] VickiLanger commented on #90
Okay, Images work. I'm gonna open a new issue for the font and work on that. Thank you both so much for your work and for helping me figure out the errors.

https://twitter.com/LgbtQotd/status/1317118324124299264?s=20

[2020-10-16 17:04] #90 closed, assigned to nobody

[2020-10-16 17:17] VickiLanger opened #104 "Change image text from default to a real font"
**Describe the bug**
Posting of images was an added feature with #90 & #94. The image post great, but there are[ issues with the text](https://twitter.com/LgbtQotd/status/1317118324124299264?s=20). In `get_img_for_tweet.py`, the font is currently set to `ImageFont.load_default()` but it needs to use a file from the `assets` folder.

**Expected behavior**
Use font from file from the `assets` folder

[2020-10-16 18:00] VickiLanger opened #105 "TOP PRIORITY: Alt text not working"
**Describe the bug**
Tweet alt text just shows `alt="Image"`. Here's [an example tweet](https://twitter.com/LgbtQotd/status/1317118324124299264). It should read the same text as what is being put on the image.

Alt text was added via PR #100 from issue #98

**Expected behavior**
Alt text should read the same text as what is being put on the image.

**Screenshots**
![Screen Shot showing image not h

[2020-10-16 18:05] JasirZaeem commented on #105
Just noticed this as well, I am sending a pull request to hopefully fix this.

[2020-10-16 18:07] VickiLanger commented on #105
Awesome, thanks! I really want to make sure the tweets are accessible to everyone. It's not quite the end of the world since the text is in the tweet, but still should be there.

I'm still looking at the font issue. (and to be honest, having a heck of a time focusing today.)

[2020-10-16 18:20] JasirZaeem commented on #105
I would like there to be alt text as well I think it is very important. Couldn't test it myself since I do not have twitter api keys, I have created a pull request to hopefully fix alt text, and a small error in replies.

[2020-10-16 18:22] JasirZaeem commented on #104
Can you share the directory structure for you heroku app when its deployed? I'm guessing '/assets/Nunito-Regular.ttf' is not the location of the font on so that is why it can't find the resource.

[2020-10-16 18:29] JasirZaeem commented on #105
That did not seem to have fixed it, I'll research it a bit to see if I can find a fix, I think this should remain open in case someone else is able to fix this

[2020-10-16 18:34] VickiLanger commented on #104
That would make sense. I'm not sure how to find the directory structure in Heroku. I have it automatically deploy from the production branch. So, I assumed it was just using what I gave it.

[2020-10-16 18:54] JasirZaeem commented on #104
I tried it on my computer, `ImageFont.truetype('/assets/Nunito-Regular.ttf', 40)` did not work, but `ImageFont.truetype('assets/Nunito-Regular.ttf', 40)` did work (removed the beginning slash), so this might work.
Another thing that worked was having the complete path `ImageFont.truetype('C:/users...../Nunito-Regular.ttf', 40)`.
One of these might work on heroku, if the first does not fix it [this

[2020-10-16 21:17] VickiLanger commented on #104
I should've tested that. I really thought it was going to want that beginning slash. The font now works.

[2020-10-17 04:31] JasirZaeem commented on #104
Glad it is working now! I suppose this issue can be closed then.

[2020-10-17 17:23] #104 closed, assigned to nobody

[2020-10-18 19:49] VickiLanger commented on #105
Here's an example of working alt text.
`api.create_media_metadata(media_id=gif_upload.media_id, alt_text="randomly generated gif, hopefully depicting a hug")`
[reference](https://github.com/achasveachas/hug-bot/blob/61f410e093fd12731968da87bc231a00b3d62665/hug-bot.py#L47)

[2020-10-18 20:07] JasirZaeem commented on #105
[This](https://github.com/JasirZaeem/LGBTQ-of-the-day-bot/blob/82110d0e84579c680eb26c9c0584069757856491/tweet.py#L51) was the first thing I tried but it did not work unfortunately, I then tried passing the id in string form which is what the [current code does](https://github.com/VickiLanger/LGBTQ-of-the-day-bot/blob/production/tweet.py#L50).
I did not think it would make difference but maybe expl

[2020-10-20 01:25] VickiLanger opened #109 "Fix text showing up on image"
**Describe the bug**
Image text should be centered-ish and have space to breathe. Currently lines spacing and margins are non-existant

**Expected behavior**
Words should be legible, with space between lines and kinda in the center

It should be fixable in this file: https://github.com/VickiLanger/LGBTQ-of-the-day-bot/blob/production/get_img_for_tweet.py

**Screenshots**
![Screen Shot 2020-10-19 a

[2020-10-20 01:27] VickiLanger opened #110 "Make emojis show on images, if possible"
**Describe the bug**
Emojis are in the strings but don't show in the images generated by [this file.](https://github.com/VickiLanger/LGBTQ-of-the-day-bot/blob/production/get_img_for_tweet.py)

I'm thinking it's a font issue, but maybe it's more than just that.

**Expected behavior**
Show emojis, pretty please

**Screenshots**
![Screenshot showing generated image with emoji not working and showing

[2020-10-20 03:04] misterdabu commented on #109
I'll work on this if you don't mind.

[2020-10-20 11:30] VickiLanger commented on #109
Sounds great @misterdabu. I look forward to seeing your PR.

[2020-10-20 18:26] VickiLanger opened #112 "Fix Spelling Errors (first timers only)"
_This will be a running issue to let people know how to add events to `historical_events.py`_

---
NOTE:  this issue is only for you if you'd consider yourself a Code Newbie.

---

Have you seen a typo you'd like to fix? Go ahead and fix it.

Need help? Check out [this article on using the github website to navigate git](https://dev.to/vickilanger/open-up-to-open-source-contributing-5hla) or [use

[2020-10-20 18:34] gracyashhh commented on #112
That's an awesome initiative🎉

[2020-10-20 18:56] ruthiel commented on #112
Nice initiative =)

[2020-10-20 19:42] Muskan-Malhotra commented on #112
Hi!!
I am a beginner to open source and want to contribute to the issue #112(Fixing Spelling Errors). Could you please let me know the files where I should perform the spell check? Are these those "readme" files?

[2020-10-20 20:16] Muskan-Malhotra commented on #112
Hi! I am a beginner and want to contribute to the issue. I wanted to know that the spelling fix is required for the ".md" files?

[2020-10-20 23:29] VickiLanger commented on #112
@Muskan-Malhotra There are no particular spelling errors that I know of. It's not that they aren't there. It's that I just haven't kept track of them. You'll likely find spelling errors in `readme.md`, `tweet_nouns.py`, `tweet_adjectives.py`, or  `tweet_labels.py`.

[2020-10-21 03:41] miaket commented on #112
I also would like to help :)

[2020-10-21 04:07] amanda-ariyaratne commented on #112
Hello, I noticed an error in the README.md, I will make a pull request for that.

[2020-10-21 10:06] Ares358 commented on #109
I think this issue should be closed if #116 completely solved it.

[2020-10-22 00:45] #109 closed, assigned to misterdabu

[2020-10-22 23:22] alexnsuarez commented on #3
Made a pull request!

[2020-10-23 12:01] eeqlsmc3 commented on #112
Hello! I am a beginner; I found a few errors in tweet_nouns.py that I would like to fix.

[2020-10-23 13:14] ankitminglani commented on #112
Hi, I am a first timer participating in hacktoberfest, fixed a spelling issue with readme.md.
Please accept my contribution.

[2020-10-23 13:49] lingarajsankaravelu commented on #110
I like to try and fix this bug

[2020-10-23 14:10] VickiLanger commented on #110
@lingarajsankaravelu That would be great. I look forward to seeing what you come up with

[2020-10-23 14:30] ankitminglani commented on #112
@VickiLanger  the python linter is failing for almost all the pull requests, I think you should create another issue for the same.

[2020-10-23 15:23] SherriChuah commented on #112
I fixed spelling errors in readme.md and added nouns in tweet_nouns.py
#143

[2020-10-23 15:34] VickiLanger commented on #112
@ankitminglani It is frustrating and I understand. Issue #84 is being worked

[2020-10-24 17:50] #44 closed, assigned to franciellyferreira

[2020-10-24 17:52] VickiLanger commented on #44
I apologize for the inconvenience. It ended up making more sense to organize by date.

[2020-10-24 20:16] ZeroniaFX commented on #112
Hi! I'm a beginner and would like to contribute.

[2020-10-25 01:38] VickiLanger opened #147 "Add More Background Images"
_This will be a running issue to let people know how to add more images to the `img_bg` directory_

---

Make and add some backgrounds to be used at random for posting on [@LGTBTotd on twitter](twitter.com/LGBTQotd)

### Requirements for Consistency
- in one of the standard fonts, include twitter handle `@LGBTQotd` somewhere on the image
- Keep the file name convention. Just numbers like `101` or

[2020-10-25 07:07] aditisingh2412 commented on #147
Hello @VickiLanger I'm a first-timer. I am interested in contributing to this issue.

[2020-10-25 09:30] mingweisoo commented on #112
Hi I just created a pull request! May I know why it is rejected?

[2020-10-25 13:11] VickiLanger commented on #112
@evansusu don't worry about the checks. They're automatically run and right now they just aren't working properly. Your contribution was great. Thank you

[2020-10-25 13:12] VickiLanger commented on #147
@aditisingh2412 I look forward to seeing your pull request.

[2020-10-25 17:55] mani9793 commented on #112
Hey! I am a newbie in HackOctober, I would like to contribute to fixing spelling errors.

[2020-10-25 19:19] wasabi28 commented on #147
Hi, I want to contribute to the issue.

[2020-10-25 19:37] VickiLanger commented on #147
@wasabi28  I look forward to seeing your pull request.

[2020-10-25 20:24] LL-creator opened #171 "Non specific dates for lgbtq history"
**Is your feature request related to a problem? Please describe.**
Although I understand that for the dictionary it would be good to have specific dates to look-up to find facts,
doing that leaves out a lot of other LGBTQ history. Especially those before the common era (BCE).

**Describe the solution you'd like**
I would like to see either another dictionary containing only centuries as the key or

[2020-10-25 20:58] dianamenesesg commented on #147
Hi @VickiLanger! I would like to contribute with my PR as well.

[2020-10-25 22:18] thomasneil commented on #147
Hi @VickiLanger May I contribute to this as well?

[2020-10-26 00:40] VickiLanger commented on #171
Thanks for bringing this up. I have thought about events with nonspecific dates before. I'm not sure how they would work though.

The events are used so they can be tweeted on their anniversary date. So, an event that happens today, if added to the dictionary, would then be tweeted on this day next year.

I'm open to all ideas. Let me know what you think we could do with events that have nonspecif

[2020-10-26 07:07] JasirZaeem commented on #147
@VickiLanger Image size is currently assumed to be 1600 x 900 in the script to generate images, if and until that is changed Dimensions of images being added should only be 1600 x 900 so "Dimensions should be 1200 x 675, 16:9 or equivalent" should be changed to tell contributors adding new images the same.

[2020-10-26 16:40] VickiLanger commented on #147
Thanks, @JasirZaeem. Fixed.

[2020-10-26 17:09] Jonathanvanhaaften commented on #5
I've added Toronto history, the pull request has the issue listed.

[2020-10-26 17:57] VickiLanger opened #203 "Randomize Fonts used in to Create Images"
**Describe the enhancement you'd like**
Currently `get_img_for_tweet.py` uses one font to build the images posted on [Twitter.com/LGBTQotd](Twitter.com/LGBTQotd). It would be great if we could use a random font from `assets`.

This will require a new file.

https://github.com/VickiLanger/LGBTQ-of-the-day-bot/tree/production/assets
https://github.com/VickiLanger/LGBTQ-of-the-day-bot/blob/production

[2020-10-26 18:12] tejusrevi commented on #203
@VickiLanger I can try to do that

[2020-10-26 18:57] Harivind commented on #203
Hi, I would like to take up this issue!

[2020-10-26 19:11] tejusrevi commented on #203
If its okay with two members working on the same issue, I would also like to work towards solving this

[2020-10-26 19:53] VickiLanger commented on #203
I have yet to see more than one person work on the same issue and have it go well. Though, I see you already put in a PR. I'll check it out @tejusrevi

[2020-10-27 17:39] #203 closed, assigned to nobody

[2020-10-27 18:36] prankurverma commented on #147
Hey @VickiLanger Can I contribute to this as well?

[2020-10-27 18:44] prankurverma commented on #147
Am I also supposed to add that translucent box with twitter handle?

[2020-10-27 19:05] VickiLanger commented on #147
@prankurverma It's not required. The most important part is being accessible. So, if there is enough contrast between the background and the `#0b3c49` text that will be on the background, then the translucent box isn't needed. I'm open to anything that still adhere's to WCAG accessibility standards

[2020-10-27 19:12] prankurverma commented on #147
I believe the box is added by some automation or template? Is it fine if I simply add my created background? Or is the box template included in this repo?

[2020-10-27 19:17] VickiLanger commented on #147
The box was manually placed on each background. I built the first 100 or so files with canvas. Design and stuff isn't really my thing. [an example background image](https://github.com/VickiLanger/LGBTQ-of-the-day-bot/blob/production/img_bg/1.png)

[2020-10-27 20:23] prankurverma commented on #147
Hey @VickiLanger ! I've made a PR #224 for this issue. :)

[2020-10-28 16:00] VickiLanger opened #237 "Tweet on Remembrance, (inter)national, & Visibility Days"
**Describe the feature you'd like**
Tweet about international/national/visibility/awareness days letting people know those things are happening

**Describe things you've considered**

- a dictionary of these dates/events
- dates would only have month and day, so the year would have to be assumed
- another version of `tweet_history.py` to tweet this dictionary
- with or without the image. No prefer

[2020-10-28 16:31] VickiLanger opened #238 "Add More Remembrance, (Inter)national, & Visibility Days"
_This will be a running issue to let people know how to add events to `words_dir/tweet_annual_events.py`_

---

## For all events

When adding events, please place them in order, oldest to newest

**If you're adding a hashtag, please include `\n` to make the hashtag hop to the next line**

Events from all around the world are welcome. If the event is specific to a country, please include the count

[2020-10-28 16:55] VickiLanger commented on #237
File started https://github.com/VickiLanger/LGBTQ-of-the-day-bot/blob/production/tweet_annual_days.py

File set up and ready to test. Will close #237 tomorrow if it works

[2020-10-29 12:04] VickiLanger commented on #105
I'll check this out later.

current error:
[code]

But the tweep docs have this http://docs.tweepy.org/en/latest/api.html#API.create_media_metadata

[2020-10-29 12:59] VickiLanger opened #246 "Variable Dates for Annual Events"
**Is your feature request related to a problem? Please describe.**
#238 is for adding annual events to `words_dir/tweet_annual_events.py`. However, many of these annual events fall on variable days each year.

https://github.com/VickiLanger/LGBTQ-of-the-day-bot/pull/243#issue-511955808

**Describe the solution you'd like**
Be able to add events with variable dates like `3rd tuesday of march` in an

[2020-10-29 13:24] #237 closed, assigned to nobody

[2020-10-30 00:26] ZeroniaFX commented on #112
Hi! I made a pull request. Please review it.

I made pull request [#249](https://github.com/VickiLanger/LGBTQ-of-the-day-bot/pull/249).

[2020-10-30 01:18] VickiLanger opened #250 "TOP PRIORITY: Check image for a11y before posting"
**Describe the bug**
Sometimes text just isn't legible and therefore not accessible.

**Expected behavior**
Background and text should be verified to be WCAG compliant together before being allowed to post

**Screenshots**

![image with text that is def not accessible with the background](https://user-images.githubusercontent.com/46823403/97648592-8e679100-1a2b-11eb-8125-34785e39d8f4.jpeg)

https:

[2020-10-30 12:09] VickiLanger commented on #246
[code]

[2020-11-02 19:49] VickiLanger opened #265 "Generate WCAG compliant Images for Backgrounds instead of using files in `img_bg"
**Is your feature request related to a problem? Please describe.**
Currently, a light-colored translucent box is used on top of the background images. It was used as a way to make the words accessible, but it's hindering the legibility in a lot of cases.

**Describe the solution you'd like**
Generate a background image that complies with WCAG a11y standards.

**Describe alternatives you've conside

[2020-11-02 20:02] VickiLanger opened #266 "Create Basic Website"
Currently: https://vickilanger.github.io/LGBTQ-of-the-day-bot/

### Needs

- [ ] use Jekyll ([docs](https://jekyllrb.com/docs))
- [ ] Accessible

#### Stuff Needed

- [ ] 404 ([docs](https://docs.github.com/en/free-pro-team@latest/github/working-with-github-pages/creating-a-custom-404-page-for-your-github-pages-site))
- [ ] About page
- [ ] Marketing page
- [ ] Main page
- [ ] submit issue button

[2020-11-03 19:37] #246 closed, assigned to nobody

[2020-11-03 20:09] VickiLanger commented on #265
Started in: `generate_stripey_backgrounds.py`

https://github.com/VickiLanger/LGBTQ-of-the-day-bot/blob/production/generate_stripey_backgrounds.py

heavily influenced (mostly the same as) by https://alexwlchan.net/2020/03/stripey-flag-wallpapers/

[2020-11-04 21:05] VickiLanger commented on #147
WOrking on automating images to make sure images are legit accessible and consistent

#265

[2020-11-04 21:05] #147 closed, assigned to nobody

[2020-11-04 21:06] VickiLanger commented on #171
I appreciate the idea. Without further input, I will not be moving forward with this

[2020-11-04 21:06] #171 closed, assigned to nobody

[2020-11-06 13:26] Arijit-101 commented on #4
I'm working on this

[2020-11-10 17:14] VickiLanger opened #271 "Text showing up not centered"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
The text should be centered on the image

**Screenshots**
![text is not centered, it's toward the bottom right](https://pbs.twimg.com/media/El7XObpW0AcN-DH?format=jpg&name=small)
![text is not centered, it's toward the top left](https://pbs.twimg.com/media/EmcMVhGXIAEwWy0?format=jpg&name=small)
![text i

[2020-11-13 20:46] VickiLanger opened #273 "Math to add "X years ago" to the history tweets"
**Background**
The current history tweets just have the date. I think the tweets would be more impactful and incite more feeling from readers if they included how many years ago an event happened. Below is what they currently say

https://twitter.com/LgbtQotd/status/1327295355503992834

**Describe the solution you'd like**
This will take doing some math to calculate the amount of years.

I would l

[2020-11-17 05:58] JasirZaeem commented on #105
I hadn't noticed the tweepy version in requirements.txt was not the latest one, create_media_metadata was added in the newest version which is likely why you get this error, I have created a PR to hopefully fix this #277

[2020-11-17 12:55] VickiLanger commented on #105
Oh! You're right. That might be the problem. Good catch

[2020-11-17 16:25] JasirZaeem commented on #105
![image](https://user-images.githubusercontent.com/20666236/99417035-7ba3f600-291f-11eb-998c-c43dc8dc15d4.png)
Alt text seems to be working now, I think this issue can be closed then

[2020-11-17 16:58] VickiLanger commented on #105
I just saw that!!! Thanks again for figuring out what was wrong.

[2020-11-17 16:58] #105 closed, assigned to nobody

[2020-11-17 17:07] JasirZaeem commented on #105
Just glad it's finally fixed after so long :D, finally got time to think about it after exams and other work

[2020-11-17 19:13] #273 closed, assigned to nobody

[2020-11-23 17:36] VickiLanger opened #279 "Annual Events Tweeting Error"
**Describe the bug**
`tweet_annual_events.py` is  tweeting `Today is []` [(example)](https://twitter.com/LgbtQotd/status/1330911834732425216)

![Screen Shot of twitter: LGBTQ of The Day
@LgbtQotd - Nov 22 - Today is []](https://user-images.githubusercontent.com/46823403/99995355-3bfa6580-2d88-11eb-95b0-35cc59a02e38.png)

[code]

I added the str() to line 51 & 53 because both gave `TypeError: must

[2020-11-30 00:12] lhfaguiar commented on #279
I put a line removing all list elements from events list, that's causing to tweet "Today is []"  when len(list) > 1
I'm not sure why this empty list is coming in the filter, but that way it worked just fine here on my computer... I can get some prints if needed...

[2020-11-30 02:13] lhfaguiar commented on #279
https://github.com/VickiLanger/LGBTQ-of-the-day-bot/pull/283

[2020-11-30 17:12] VickiLanger commented on #279
Still getting an error. I'm sure it's a quick fix.

[code]

[2020-11-30 17:14] lhfaguiar commented on #279
oh no!! I'l run some more tests here :(

[2020-12-01 22:55] lhfaguiar commented on #279
![image](https://user-images.githubusercontent.com/28228512/100806341-09e3a600-340f-11eb-926d-000115e0303f.png)

I don't know why it is behaving like this...

[2020-12-02 01:09] lhfaguiar commented on #279
https://github.com/VickiLanger/LGBTQ-of-the-day-bot/pull/286

hopefully this is the last update to get it up and running

[2020-12-02 03:19] lhfaguiar commented on #84
have you guys figured something out? I'm looking for a way of making it stop failing at the same point every PR

[2020-12-02 21:27] VickiLanger commented on #84
Personally, I haven't worked on it. Not sure if @bobsany16 has.

[2020-12-02 21:43] vmdhhh commented on #271
@VickiLanger Is this still an issue? Because when I am testing on my end, the text looks centered.
Maybe its changed in PR #116
Please let me know.

[2020-12-03 15:36] VickiLanger commented on #271
It doesn't happen all the time, but it is still happening. Here are some of the more recent oddities. https://twitter.com/LgbtQotd/status/1333244479634108417?s=20
https://twitter.com/LgbtQotd/status/1332565138927443968?s=20

[2020-12-03 15:55] VickiLanger commented on #279
@lhfaguiar Thank you so much for fixing it. Production is back to working properly!

[2020-12-03 15:55] #279 closed, assigned to nobody

[2020-12-30 16:42] vardaan-raj commented on #112
Hello! I am also a first timer and I am also looking to get started with open-source and I can surely help out with documentation.
So can you tell me a bit about this and what is it that you specifically want

[2021-02-20 03:12] VickiLanger opened #293 "Repeating annual event??"
**Describe the bug**
This same event keeps getting posted, even on days when it shouldn't

**Expected behavior**
Events should only post on their assigned dates

**Screenshots**
![Screenshot of Twitter showing multiple tweets on different days posting about "trans parent day"](https://user-images.githubusercontent.com/46823403/108582148-53051100-72ff-11eb-8372-ee496ee1f602.jpeg)

---
*Don't forget

[2021-02-20 06:04] JasirZaeem commented on #293
When looking up events that have a relative date, i.e. 11-1U (1st Sunday of November ) the month is currently not taken into account.
Here: https://github.com/VickiLanger/LGBTQ-of-the-day-bot/blob/cc8af39aa91fbb1358d417c19f384efb8d5818c9/tweet_annual_days.py#L37
So this event (and every relative event) can be chosen in any month, and this event gets tweeted the first Sunday of every month.  I'll m

[2021-02-23 14:03] VickiLanger commented on #293
Oh! That makes so much sense!

[2021-02-23 14:34] #293 closed, assigned to nobody

[2021-04-08 16:19] VickiLanger opened #297 "Incorrect Event Date Posted"
**Describe the bug**
An event for `2004-07-20` will post on `04-07` and `07-20`

https://twitter.com/lgbtqotd/status/1379660512082944002?s=21

**Expected behavior**
Only have post on the correct date

**Screenshots**
![Screenshot of faulty tweet, posted on April 7th, with the above-described bug "17 years ago this day in LGBTQ history 2004-07-20: Guido Westerwelle, leader of the FDP, becomes the f

[2021-04-09 13:23] VickiLanger commented on #297
This doesn't make sense. We already get rid of the year. So, why did this event post when it did?

[code]

[2021-04-10 06:10] JasirZaeem commented on #297
This is searching for MM-DD in each key, and each key is YYYY-MM-DD, so, if the key for an event is '2004-07-20', on 7th April code will match it with '04-07' which is present in the date, and on 20th July it'll be checked against '07-20' which it also has. the MM-DD for today needs to be matched with only the last 5 characters of the date not all of it. I'll make a pr with a fix

[2021-05-07 16:24] VickiLanger commented on #297
That would be awesome. I'm still confused though. I thought we already sliced the first 5 characters in the date. 🤷🏼

[2021-05-30 02:40] JasirZaeem commented on #297
We are removing the first 5 letters of today's date but the dates of events are still in "YYYY-MM-DD" format, so we need to compare the variable `month_and_day` with only the last 5 letters of the keys

[2021-07-05 15:04] geekboi777 commented on #297
Hey I made a pull request resolving the issue.

Hope it helps!

[2021-07-14 16:01] #297 closed, assigned to nobody

[2021-10-29 19:44] SgiobairOg commented on #266
Hi Vicki, would love to take a shot at this. Will see what I can get going if that's okay?

[2021-10-31 21:57] VickiLanger commented on #266
You are definitely welcome to give it a shot. Have fun

[2022-02-14 16:19] VickiLanger commented on #5
So many things have happened in the last few years. Could use [https://www.openlynews.com/](https://www.openlynews.com/) to help add new stuff

[2022-07-17 14:43] depenbot opened #310 "Suggest to loosen the dependency on tweepy"
Hi, your project LGBTQ-of-the-day-bot requires "tweepy==3.9.0" in its dependency. After analyzing the source code, we found that the following versions of tweepy can also be suitable without affecting your project, i.e., tweepy 3.10.0. Therefore, we suggest to loosen the dependency on tweepy from "tweepy==3.9.0" to "tweepy>=3.9.0,<=3.10.0" to avoid any possible conflict for importing more packages

[2022-11-20 15:22] Agnes-U opened #317 "Suggest to loosen the dependency on tweepy"
Dear developers,

Your project LGBTQ-of-the-day-bot requires "tweepy==3.9.0" in its dependency. After analyzing the source code, we found that the following versions of tweepy can also be suitable without affecting your project, i.e., tweepy 3.10.0. Therefore, we suggest to loosen the dependency on tweepy from "tweepy==3.9.0" to "tweepy>=3.9.0,<=3.10.0" to avoid any possible conflict for importing

[2022-11-21 17:07] a2937 commented on #266
Does this still need worked on? And may I take a crack at it?

[2022-11-23 16:00] VickiLanger commented on #317
Good idea. Thank you for sharing. Currently, this bot is hosted on Heroku free tier that ends the end of this month. I have not migrated it. I'm not sure it's worth the effort to update. Currently, I'm also concerned about the state of Twitter. I'm thinking if, this time next year, it's still up and usable, then I will update tweepy and migrate to another host. If not, I will repurpose this bot fo

[2022-11-23 16:01] VickiLanger commented on #266
@a2937 If you'd like to, you are more than welcome to